/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤바 제거 */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, #4574d8 0%, #ff71d7 100%);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: linear-gradient(270deg, #4574d8 0%, #ff71d7 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.logo {
  height: 40px;
  padding-left: 65px; /* 왼쪽 여백 설정 */
  margin-top: 10px;
}

.search-bar {
  flex: 1;
  margin: 0 180px;
  padding: 5px 20px;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 9px;
  margin-top: 10px;
}

.header-icons {
  display: flex;
  align-items: center;
  margin-right: 65px; /* 오른쪽 여백 설정 */
}

.notification-icon-container {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.notification-icon {
  font-size: 24px;
  color: #fff;
}

.notification-dot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: calc(100% - 80px); /* Adjust to fit the remaining height */
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden; /* 스크롤바 제거 */
}

.section {
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  flex: 1 1 calc(50% - 20px); /* 섹션 크기 조정 */
}

.section h2 {
  color: white;
}

.separator {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.horizontal {
  width: 2px;
  height: calc(100% - 20px);
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.vertical {
  width: calc(100% - 20px);
  height: 2px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/* 반응형 스타일링 */
@media (max-width: 1200px) {
  .section {
    flex: 1 1 calc(50% - 30px); /* 중간 크기 화면에서 섹션 크기 조정 */
  }

  .horizontal {
    width: 2px;
    height: calc(100% - 30px);
  }

  .vertical {
    width: calc(100% - 30px);
  }
}

@media (max-width: 768px) {
  .section {
    flex: 1 1 calc(100% - 20px); /* 작은 화면에서 섹션이 전체 너비를 차지하도록 조정 */
    margin: 10px 0;
  }

  .horizontal,
  .vertical {
    display: none; /* 작은 화면에서는 구분선 숨기기 */
  }
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}