body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로그인 페이지 전체 레이아웃 */
.login-page {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* 로그인 페이지 좌우 섹션 레이아웃 */
.login-left,
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 왼쪽 섹션 스타일 */
.login-left {
  background: linear-gradient(270deg, #4574d8 0%, #ff71d7 100%);
  color: white;
  position: relative;
}

/* 왼쪽 섹션 로고 스타일 */
.login-left .loginlogo {
  width: 60px; /* 로고 크기 조정 */
  position: absolute; /* 절대 위치 설정 */
  top: 50px; /* 위쪽 위치 조정 */
  left: 50px; /* 왼쪽 위치 조정 */
}

/* 왼쪽 섹션 텍스트 스타일 */
.login-left h1 {
  font-size: 6vw; /* 뷰포트 너비의 10%로 폰트 크기 조정 */
  font-weight: bold; /* 글씨 굵기 조정 */
  margin: 0;
  text-align: left; /* 왼쪽 정렬 */
  padding-left: 60px; /* 로고의 왼쪽 끝과 동일하게 왼쪽 여백 설정 (로고의 left 값 + 로고의 width) */
  position: absolute; /* 절대 위치 설정 */
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* 오른쪽 섹션 스타일 */
.login-right {
  background-color: #ffffff; /* 로그인 박스 색상 변경 */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* 상위 요소들을 왼쪽 정렬 */
  align-items: flex-start;
  flex-direction: column;
}

/* 오른쪽 섹션 제목 스타일 */
.login-right h2 {
  color: #000;
  width: 100%;
  text-align: left; /* 왼쪽 정렬 */
  padding-left: 60px; /* 왼쪽 여백 설정 */
  font-weight: bold; /* 글씨 굵기 조정 */
  font-size: 40px;
  margin-top: 30px;
}

/* 오른쪽 섹션 부제목 스타일 */
.welcome-message {
  margin-bottom: 60px; /* 변경된 값 */
  color: #797979;
  text-align: left; /* 왼쪽 정렬 */
  width: 100%;
  padding-left: 60px; /* 왼쪽 여백 설정 */
  font-size: 18px;
}

/* 오른쪽 섹션 폼 스타일 */
.login-right form {
  width: 100%;
  text-align: left; /* 폼 안의 요소를 왼쪽 정렬 */
  padding-left: 70px; /* 왼쪽 여백 설정 */
}

/* 폼 내부의 각 요소의 공통 스타일 */
.login-right form div {
  margin-bottom: 15px;
}

.login-right form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

/* 추가된 스타일 */
.login-right .email-label {
  color: #797979; /* 이메일 글씨 색상 */
}

.login-right .password-label {
  color: #797979; /* 비밀번호 글씨 색상 */
}

.register-link {
  margin-top: 5vh; /* 로그인 버튼과의 간격 */
  color: #007bff;
  text-align: center; /* 텍스트 가운데 정렬 */
  width: 85%; /* 로그인 버튼과 동일한 너비 */
  margin-left: auto; /* 부모 요소 기준으로 가운데 정렬 */
  margin-right: auto; /* 부모 요소 기준으로 가운데 정렬 */
  cursor: pointer;
  font-size: 0.8vw; /* 폰트 크기 상대적으로 조정 */
  display: block; /* 블록 요소로 설정 */
}



.login-right .forgot-password {
  color: #a3a2a2;
  cursor: pointer;
  font-size: 0.8vw; /* 폰트 크기 상대적으로 조정 */
  margin-top: 1vh; /* 입력 필드 위 아래 간격 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  width: 85%; /* 입력 필드와 동일한 너비 */
  padding-right: 0; /* 오른쪽 여백 제거 */
  margin-right: 0; /* 추가 마진 제거 */
  box-sizing: border-box; /* 패딩과 너비 포함 */
}


.login-right form input {
  width: 85%; /* 입력 필드 너비 조정 */
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 9px;
  box-sizing: border-box;
  text-align: left; /* 왼쪽 정렬 */
}

/* 로그인 버튼 스타일 */
.login-right form button {
  width: 85%; /* 버튼 너비 조정 */
  padding: 10px;
  background-color: #DFE9FF;
  color: #3160C4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding-left: 60px; /* 왼쪽 여백 설정 */
  margin-top: 30px;
  display: block; /* 버튼을 블록 요소로 변경하여 text-align 속성에 반응하도록 함 */
}

.login-right form button:hover {
  background-color: #0056b3;
}

/* 비밀번호를 잊었나요 링크 스타일 */
.forgot-password {
  color: #A3A2A2;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.register-link:hover {
  text-decoration: underline;
}

.login-left .loginlogo {
  width: 5vw; /* 뷰포트 너비의 5%로 설정 */
  max-width: 100px; /* 너무 커지지 않도록 최대 크기 제한 */
  min-width: 50px; /* 너무 작아지지 않도록 최소 크기 제한 */
  position: absolute;
  top: 7vh; /* 뷰포트 높이를 기준으로 위쪽 여백 */
  left: 3vw; /* 뷰포트 너비를 기준으로 왼쪽 여백 */
}

/* 최대 너비 1200px */
@media (max-width: 1200px) {
  .login-left h1 {
    font-size: 8vw; /* 글씨 크기 조정 */
    padding-left: 40px; /* 왼쪽 여백 조정 */
  }

  .login-right h2,
  .welcome-message,
  .login-right form,
  .register-link {
    padding-left: 40px; /* 왼쪽 여백 조정 */
    padding-right: 40px; /* 오른쪽 여백 조정 */
  }

  .login-right form input {
    width: 90%; /* 입력 필드 크기 조정 */
    padding: 10px; /* 입력 필드 패딩 조정 */
  }

  .login-right form button {
    width: 90%; /* 버튼 너비 조정 */
    padding: 10px; /* 버튼 크기 조정 */
  }
}

/* 최대 너비 768px */
@media (max-width: 768px) {

  .login-left,
  .login-right {
    width: 100%;
    height: auto; /* 높이 자동 조정 */
  }

  .login-left h1 {
    padding-left: 20px; /* 왼쪽 여백 조정 */
    font-size: 10vw; /* 글씨 크기 조정 */
  }

  .login-right h2,
  .welcome-message,
  .login-right form,
  .register-link {
    padding-left: 20px; /* 왼쪽 여백 조정 */
    padding-right: 20px; /* 오른쪽 여백 조정 */
  }

  .login-right form input {
    width: 95%; /* 입력 필드 크기 조정 */
    padding: 8px; /* 입력 필드 패딩 조정 */
  }

  .login-right form button {
    width: 95%; /* 버튼 너비 조정 */
    padding: 8px; /* 버튼 크기 조정 */
  }

  .forgot-password {
    padding-right: 20px; /* 오른쪽 여백 조정 */
  }
}

/* 최대 너비 480px */
@media (max-width: 480px) {
  .login-left h1 {
    font-size: 6vw; /* 글씨 크기 조정 */
    padding-left: 10px; /* 왼쪽 여백 조정 */
  }

  .login-right h2,
  .welcome-message,
  .login-right form,
  .register-link {
    padding-left: 10px; /* 왼쪽 여백 조정 */
    padding-right: 10px; /* 오른쪽 여백 조정 */
  }

  .login-right form input {
    width: 100%; /* 입력 필드 너비 100% */
    padding: 6px; /* 입력 필드 패딩 조정 */
  }

  .login-right form button {
    width: 100%; /* 버튼 너비 조정 */
    padding: 6px; /* 버튼 크기 조정 */
  }

  .forgot-password {
    padding-right: 10px; /* 오른쪽 여백 조정 */
  }
}
