.mypage {
  display: flex;
  height: 100vh;
  background: linear-gradient(270deg, #4574d8 0%, #ff71d7 100%);
  padding: 20px;
  box-sizing: border-box;
  align-items: center; /* 전체를 수직 가운데 정렬 */
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-right: 20px; /* 오른쪽 여백 설정 */
}

.profile-pic-large {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: white; /* 배경색 추가 */
  border: 2px solid white; /* 테두리 추가 */
}

.profile-text {
  font-size: 20px;
  color: white;
  text-decoration: underline; /* 밑줄 추가 */
  cursor: pointer;
}

.profile-text:hover {
  color: white; /* 호버 시 색상 변경 없음 */
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.info-container {
  background: white;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 600px;
  height: auto;
  box-shadow: inset 0 0 15px #c1bfc2; /* 안쪽으로 그림자 효과 */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.info-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; /* 필드 간격을 늘림 */
}

.info-field label {
  margin-bottom: 5px; /* 텍스트와 입력 박스 간의 여백을 늘림 */
  font-weight: bold;
  text-align: left; /* 왼쪽 정렬 */
}

.info-field input {
  padding: 10px; /* 패딩을 키움 */
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%; /* 박스 범위 벗어나지 않도록 설정 */
  box-sizing: border-box; /* 패딩 포함하여 크기 계산 */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.links a {
  margin: 10px 0;
  font-size: 16px;
  text-decoration: underline; /* 밑줄 추가 */
  cursor: pointer;
}

.links a.logout-link {
  color: #646464; /* 기본 로그아웃 색상 */
}

.links a.withdraw-link {
  color: #FF2020; /* 기본 탈퇴 색상 */
}

.links a.logout-link:hover,
.links a.withdraw-link:hover {
  color: inherit; /* 호버 시 색상 변경 없음 */
}

.confirm-button {
  background-color: #4574d8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
