.section {
  width: 45%;
  height: calc(50% - 20px);
  margin: 10px;
  float: left;
  overflow: hidden;
  background-color: white;
  border-radius: 25px;
  box-shadow: inset 0 0 15px #c1bfc2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 90px;
}

.content {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.canvas {
  width: auto !important; /* 내부 차트 크기를 변경 */
  height: auto !important; /* 내부 차트 크기를 변경 */
}
