/* Section2.module.css */
.section {
  width: 45%;
  height: calc(50% - 20px);
  margin: 10px;
  background-color: white;
  border-radius: 25px;
  box-shadow: inset 0 0 15px #c1bfc2;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #672E90;
  text-align: left;
  margin: 0; /* 상단 간격 제거 */
  margin-left: 2vw;
  padding: 5px; /* 약간의 패딩 추가 */
}

.content {
  border-radius: 25px;
  height: calc(100% - 30px); /* 제목 크기만큼 줄이기 */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.chartContainer {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}